// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Styles
@import 'styles/menu.scss';
@import 'styles/header.scss';
@import 'styles/busqueda.scss';
footer {
    margin-top: 40px;
    margin-bottom: 20px;
    float: right;
}