.navbar-default {
  background-image: linear-gradient(to bottom, #F5B644 0, #F1AC30 100%);
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: black;
  background-color: #F1AC30;
}

.navbar-default .navbar-nav > .active > a {
  background-image: linear-gradient(to bottom, #F1AC30 0, #F5B644 100%);
}

